.background{
    background-color: grey;   
    padding: 50px;
}
.box {
    width: 600px;
    border-radius: 10px;
    height: 700px;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
}
.mat-form-field{
    margin: 25px;
}
.buttonCadastro{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #456c45;
}