<MenuNav>
    <div class="cadastroDoador">
        <!-- <img src="/src/img_frutas.png" id = "fundo"> -->
        <div class="box">
            <h2> Cadastrar </h2>
            <br>
            <label for="usuario">Usuário </label>
            <br>
            <input id="usuario" class="form-control">
            <br><br>

            <label for="cnpj">CNPJ </label>
            <br>
            <input id="cnpj" class="form-control">
            <br><br>

            <label for="email">Email </label>
            <br>
            <input id="email" class="form-control" type="email">
            <br><br>

            <label for="senha">Senha </label>
            <br>
            <input id="senha" class="form-control" type="password">
            <br><br>

            <label for="confirmSenha">Confirmar senha </label>
            <br>
            <input id="confirmSenha" class="form-control" type="password">
            <br><br>
          
            <button class="button">Cadastrar</button>
        </div>
    </div>
    <Rodape></Rodape>
</MenuNav>