<MenuNav>
    <input class="busca" type="text" [(ngModel)]="eventoFilter.nome" placeholder="Pesquise eventos" />
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nome do evento</th>
            <th>Data final</th>
            <th>Descrição</th>
        </tr>
        <tr *ngFor='let evento of eventos | orderBy: key | filterBy: eventoFilter'>
            <td>{{evento.id}} </td>
            <td>{{evento.nome}} </td>
            <td>{{evento.data_final}}</td>
            <td>{{evento.desc}} </td>
        </tr>
    </table>
</MenuNav>
