<div class="conteudo">
  <h1>Ajude a acabar com a fome do Brasil</h1>
  <span>Conectamos empresas que têm sobra de alimentos com pessoas e ONGs que distribuem alimentos para pessoas
    carentes</span>
  <br>
</div>
<div class="conteudo">
  <h1>O que fazemos?</h1>
  <span>Conectamos empresas que têm sobra de alimentos com aqueles que precisam de alimento. Os receptores podem ONGs
    ou pessoa física.</span>
  <span>icon</span>
</div>
<div class="conteudo">
  <h1>Doadores doam</h1>
  <span>Empresas com Sobra de alimentos criam evento informando que têm comida sobrando.</span>
  <span>icon</span>
</div>
<div class="conteudo">
  <h1>Eventos de doação</h1>
  <span>Os eventos de doação são mostrados através da lista ou do mapa</span>
  <span>icon</span>
</div>
<div class="conteudo">
  <h1>Receptores recebem</h1>
  <span>Àqueles que precisam do alimento se dirigem ao local do evento informado pelas empresas, e recebem o
    alimento.</span>
</div>
<div class="conteudo">
  <h1>Sobre nós</h1>
  <span>Mussum Ipsum, cacilds vidis litro abertis. Quem manda na minha terra sou euzis! Si u mundo tá muito paradis?
  </span>
</div>
<div class="conteudo">
  <h1>Entre em contato</h1>
  <span>Tire dúvidas, mande sugestões, fique à vontade para entrar em contato</span>
  <div class="contato">
    <form action="mailto:foodcareapp@gmail.com" method="post" enctype="text/plain">
      Nome:<br>
      <input type="text" name="nome"><br>
      E-mail:<br>
      <input type="mail" name="email"><br>
      Mensagem:<br>
      <textarea rows="4" cols="50" name="conteudo"></textarea><br><br>
      <input type="submit" value="Enviar">
      <input type="reset" value="Limpar">
      </form>
  </div>
</div>