.background {
    background-image: url(src/assets/images/fundo-home-frutas.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.icon-home {
    position: absolute;
    right: 200px;    
    color: white;
    font-size: x-large;
}
.toolbar-login {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0 8vw;
    background-color: #406040;
}

.logo {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 2em;
    text-decoration: none;
    background-image: url(../../../assets/images/logo-white.png);
}

.logo-img {
    width: 180px;
    padding-bottom: 4px;
}

.box-login {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px auto;
}

.title {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    color: black;
}

.btn-login {
    color: white;
    font-weight: bolder;
    width: 150px;
    background-color: #456c45;
    cursor: pointer;
    margin: 5px auto;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.text-cadastro {
    margin: 5px auto;
    /* padding-top: 10px; */
    color: black;
    font-size: medium;
    /* font-weight: bold; */
}

/* mat-form-field {
    padding: 1;
    background-color: white(opacity=50%);
    border-radius: 10px;
} */

.h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-flow: column;
}
