<mat-toolbar class="toolbar-perfil">
    <button mat-icon-button class="perfil" routerLink="/eventos-doador">
        <i class="material-icons">
            arrow_back
        </i>
    </button>
    <h1>Perfil</h1>
</mat-toolbar>
<div *ngIf="!IsShow">
    <h1>DADOS :</h1>
    nome: {{ doador.username }} <br>
    email: {{ doador.email }} <br>
    <button mat-raised-button (click)="mostraDiv()"><i class="material-icons">edit</i></button>

</div>

<div class="background" *ngIf="IsShow">
    <div class="box">
        <mat-form-field>
            <input matInput placeholder="Usuário" #user id="usuario" class="form-control">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" #email id="email" class="form-control" type="email">
        </mat-form-field>
        <button mat-raised-button class="buttonAtualiza" (click)="mostraDiv()">
            cancelar
        </button>
        <button mat-raised-button class="buttonAtualiza" (click)="atualiza()">
            Atualizar
        </button>

    </div>
</div>
