<mat-toolbar class="toolbar-perfil">
    <div>
        <button mat-icon-button class="perfil" routerLink="/eventos-doador">
            <i class="material-icons">arrow_back</i>
        </button>
        <img class="logo-img" src="/logo-white.png">
    </div>
    <div>
        <span>
            <i class="material-icons">person_outline</i>
            {{doador.username}}
        </span>
    </div>
</mat-toolbar>
<div class="centro">
    <div class="background-dados">
        <div>
            <i class="material-icons-two-tone icon-perfil">account_circle</i>
        </div>
        <div class="infos">
            <p class="dado">nome: {{ doador.username }}</p>
            <p class="dado">email: {{ doador.email }}</p>
        </div>
        <div>
            <button class="btn-editar" mat-raised-button (click)="mostraDiv()"><i class="material-icons">edit</i></button>
            <button class="btn-editar" mat-raised-button (click)="mostraDiv1()"><i class="material-icons">clear</i></button>
        </div>
    </div>
</div>
<div class="excluir" *ngIf="IsShow1">
    <h3> Tem certeza que deseja excluir sua conta?</h3>
    <div>
        <button class="btn-excluir" mat-raised-button (click)="deleta()">Sim</button>
        <button class="btn-excluir" mat-raised-button (click)="mostraDiv1()">Não</button>
    </div>
</div>
<div class="background" *ngIf="IsShow">
    <div class="box">
        <h1>Editar nome de usuário</h1>
        <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="doador.username" id="email" class="form-control"
                type="email">
        </mat-form-field>
        <button mat-raised-button class="buttonAtualiza" (click)="atualiza()">
            Atualizar
        </button>
    </div>
    <div class="box">
        <h1>Editar senha</h1>
        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="senha1" id="senha1" class="form-control" type="password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirmar senha" [(ngModel)]="senha2" id="senha2" class="form-control"
                type="password">
        </mat-form-field>
        <button mat-raised-button class="buttonAtualiza" (click)="atualizaSenha()">
            Atualizar
        </button>
    </div>
    <button mat-raised-button class="buttonAtualiza" (click)="mostraDiv()">
        cancelar
    </button>
</div>