.toolbar-perfil {
    background-color: #5b8f6f;
    display: flex;
    justify-content: center;
    color: white;
}
.background {
    padding: 50px;
}

.box {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-family: 'Montserrat';
}

.mat-form-field {
    margin: 5px;
}

.buttonAtualiza {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #456c45;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.textoLogin {
  margin: auto;
  padding-top: 10px;
}
.perfil{
    color: white;
    position: absolute;
    left: 10px;
}