<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div>
        <label for="name">
          Nome
        </label>
        <input id="name" type="text" formControlName="nome">
      </div>
    
      <div>
        <label for="address">
          Email
        </label>
        <input id="address" type="text" formControlName="email">
      </div>

    
      <div>
        <label for="address">
          Mensagem
        </label>
        <input id="address" type="text" formControlName="msg">
      </div>
    <button class="button" type="submit">Enviar</button>
  
  </form>