<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'over'">
		<mat-toolbar class="menu">Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item href="#" class="menu-item">Acabe com a fome</a>
			<a mat-list-item href="#" class="menu-item">O que fazemos</a>
			<a mat-list-item href="#" class="menu-item">Como funciona?</a>
			<a mat-list-item href="#" class="menu-item">Sobre</a>
			<a mat-list-item href="#" class="menu-item">Contato</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>

		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<a href="/home" class="logo">FoodCare</a>
			<button mat-icon-button><a href="/cadastro" class="button-login"><i
						class="material-icons">person_outline</i></a>
			</button>
		</mat-toolbar>


		<section class="item1">
			<div class="title-item1">
				<h1>Ajude a acabar com a fome do Brasil!</h1>
			</div>
			<div class="text-item1">
				<span>Conectamos empresas que têm sobra de alimentos
					com pessoas e ONGs que distribuem alimentos para pessoas
					carentes.
				</span>
			</div>
			<div class="button-item1">
				<button mat-raised-button class="buttons-item1">Ver onde tem comida</button>
				<button mat-raised-button class="buttons-item1">Doar alimentos</button>
			</div>
		</section>


		<!-- TÓPICO 2 DA HOME -->
		<section class="item2">
			<div class="title-item">
				<h1>O que fazemos?</h1>
			</div>
			<div class="text-item">
				<span>Conectamos empresas que têm sobra de alimentos com aqueles que precisam de alimento. Os
					receptores
					podem ONGs
					ou pessoa física.</span>

			</div>
		</section>
		<!-- TÓPICO 3 DA HOME -->
		<section class="item3">
			<div class="item3-section">
				<div class="icon-item3">
					<i class="material-icons icon-item">local_dining</i>
				</div>
				<div class="title-item">
					<h1>Doadores doam</h1>

				</div>
				<div class="text-item">
					<span>Empresas com Sobra de alimentos criam evento informando que têm comida sobrando.</span>

				</div>
			</div>
			<div class="item3-section">
				<div class="icon-item3">
					<i class="material-icons icon-item">calendar_today</i>
				</div>

				<div class="title-item">
					<h1>Eventos de doação</h1>
				</div>

				<div class="text-item">
					<span>Os eventos de doação são mostrados através da lista ou do mapa.</span>
				</div>
			</div>
			<div class="item3-section">
				<div class="icon-item3">
					<i class="material-icons icon-item">mobile_friendly</i>
				</div>

				<div class="title-item">
					<h1>Receptores recebem</h1>
				</div>

				<div class="text-item">
					<span>Àqueles que precisam do alimento se dirigem ao local do evento informado pelas empresas, e
						recebem o
						alimento.</span>
				</div>
			</div>
		</section>

		<!-- TÓPICO 4 DA HOME -->
		<section class="item4">

			<div class="title-item">
				<h1>Sobre nós</h1>
			</div>

			<div class="text-item">
				<span>Mussum Ipsum, cacilds vidis litro abertis. Quem manda na minha terra sou euzis! Si u mundo tá
					muito
					paradis?
				</span>
			</div>

		</section>

		<!-- TÓPICO 5 DA HOME -->

		<section class="item5">
			<div class="title-item">
				<h1>Entre em contato</h1>
			</div>

			<div class="text-item">
				<span>Tire dúvidas, mande sugestões, fique à vontade para entrar em contato</span>
			</div>
		</section>



		<br>
		<footer>
			&#9400; 2019 - Food Care
		</footer>


		<!-- Add Content Here -->
	</mat-sidenav-content>
</mat-sidenav-container>