<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'over'">
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item href="#">Acabe com a fome</a>
			<a mat-list-item href="#">O que fazemos</a>
			<a mat-list-item href="#">Como funciona?</a>
			<a mat-list-item href="#">Sobre</a>
			<a mat-list-item href="#">Contato</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>

		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<a href="/home" class="logo">FoodCare</a>
		</mat-toolbar>

		<div class="container">
			<section class="item1">
				<div class="title-item1">
					<h1>Ajude a acabar com a fome do Brasil!</h1>
				</div>
				<div class="text-item1">
					<span>Conectamos empresas que têm sobra de alimentos
						com pessoas e ONGs que distribuem alimentos para pessoas
						carentes.
					</span>
				</div>
				<div class="button-item1">
					<button mat-raised-button class="button1-item1">Ver onde tem comida</button>
					<button mat-raised-button class="button2-item1">Doar alimentos</button>
				</div>
			</section>

		</div>

		<!-- TÓPICO 2 DA HOME -->
		<div class="container">
			<section class="item2">
				<div class="title-item2">
					<h1>O que fazemos?</h1>
				</div>
				<div class="text-item2">
					<span>Conectamos empresas que têm sobra de alimentos com aqueles que precisam de alimento. Os
						receptores
						podem ONGs
						ou pessoa física.</span>

				</div>
			</section>


		</div>

		<!-- TÓPICO 3 DA HOME -->
		<div class="container">
			<section class="item3">
				<div class="icon-item3">
					<i class="material-icons">local_dining</i>
				</div>

				<div class="title-item3">
					<h1>Doadores doam</h1>
				</div>

				<div class="text-item3">
					<span>Empresas com Sobra de alimentos criam evento informando que têm comida sobrando.</span>
				</div>
			</section>

		</div>


		<!-- TÓPICO 4 DA HOME -->
		<div class="container">
			<section class="item4">
				<div class="icon-item4">
					<i class="material-icons">calendar_today</i>
				</div>

				<div class="title-item4">
					<h1>Eventos de doação</h1>
				</div>

				<div class="text-item4">
					<span>Os eventos de doação são mostrados através da lista ou do mapa.</span>
				</div>
			</section>

		</div>


		<!-- TÓPICO 5 DA HOME -->
		<div class="container">
			<section class="item5">
				<div class="icon-item5">
					<i class="material-icons">mobile_friendly</i>
				</div>

				<div class="title-item5">
					<h1>Receptores recebem</h1>
				</div>

				<div class="text-item5">
					<span>Àqueles que precisam do alimento se dirigem ao local do evento informado pelas empresas, e
						recebem o
						alimento.</span>
				</div>
			</section>

		</div>


		<!-- TÓPICO 6 DA HOME -->
		<div class="container">
			<section class="item6">
				
				<div class="title-item6">
					<h1>Sobre nós</h1>
				</div>

				<div class="text-item6">
					<span>Mussum Ipsum, cacilds vidis litro abertis. Quem manda na minha terra sou euzis! Si u mundo tá muito
					paradis?
					</span>
				</div>

			</section>
			
		</div>
		
	
		<div class="container">
			<section class="item7">
				<div class="title-item7">
					<h1>Entre em contato</h1>
				</div>

				<div class="text-item7">
					<span>Tire dúvidas, mande sugestões, fique à vontade para entrar em contato</span>
				</div>
			</section>

			
	
		</div>
		<br>
		<footer>
			&#9400; 2019 - Food Care
		</footer>


		<!-- Add Content Here -->
	</mat-sidenav-content>
</mat-sidenav-container>