<MenuNav>
    <div class="login">
        <div class="box">
            <h2> Acesso </h2>
            <br>
            <label for="usuario">Usuário </label>
            <br>
            <input #usuario id="usuario" class="form-control">
            <br><br>
            <label for="senha">Senha </label>
            <br>
            <input #senha id="senha" class="form-control" type="password">
            <br><br>
            <button  (click)='login(usuario.value, senha.value)'class="button">Login</button>
            &nbsp;
            <button class="button"><a href="/cadastro">Registar</a></button>
            <p>{{ error?.message }}</p>
            <p *ngIf='error'>{{ error?.error | json }}</p>
        </div>
    </div>
    <Rodape></Rodape>
</MenuNav>