<MenuNav>
    <div class="">
        <div class="box">
            <h2 class="title"> Acesso </h2>
            <mat-form-field>
            <input matInput placeholder="usuario" #usuario id="usuario" class="form-control">
            </mat-form-field>
            <mat-form-field>
            <input matInput placeholder="senha" #senha id="senha" class="form-control" type="password">
            </mat-form-field>
            <button mat-raised-button (click)='login(usuario.value, senha.value)'class="button">Login</button> 
            <p class="textoCadastro">Crie seu cadastro <a class="link" href="/cadastro">aqui.</a></p>
            <p>{{ error?.message }}</p>
            <p *ngIf='error'>{{ error?.error | json }}</p>
        </div>
    </div>
    <Rodape class="rodape"></Rodape>
</MenuNav>