.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: limegreen;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    text-align: center;
    align-items: center;
    width: 400px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
}
.button {
    /* margin: 0 auto; */
    color: black;
    text-decoration: none;
    background: green;
    padding: 0px;
    width: 120px;
    height: 30px;
    color:#fff;
    font: bold;
    /* border-radius: 7%; */
}

.button > a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:white;
}
.total
{
    margin: 0 auto;;
}
.h2 {
    text-align: center;
}
/* .fundo{
    position: absolute;
    right: 50%;
    left: 50%;
} */