<MenuNav>
    <!-- Essa parte abaixo é para mudar no menunav, para aparecer o voltar e não o de cadastro -->
    <!-- <button mat-icon-button>
        <a href="/home" class="button-voltar">
            <i class="material-icons">arrow_back</i>
        </a>
    </button> -->


    <!-- a pasta datamodel contém a lista criada para testar a pesquisa -->
    <input class="busca" type="text" [(ngModel)]="nome" (input)="Search()" />
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nome do evento</th>
            <th>Data final</th>
            <th>Descrição</th>
        </tr>
        <tr *ngFor='let item of eventos | orderBy : key'>
            <td>{{item.id}} </td>
            <td>{{item.nome}} </td>
            <td>{{item.data_final}}</td>
            <td>{{item.desc}} </td>
        </tr>
    </table>
</MenuNav>