*{
  margin: 0;
  padding: 0;
  width: 400px;
  height: 30px;
  /* background-image: url('/src/img_frutas.gif'); */
  border-radius: 15px;
}

.busca{
  width: 400px;
  height: 40px;
  margin: 40px auto;
}

#buscador{
  width: 300px;
  height: 39px;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border: solid 0.5px #50a750;
}
#buscador:focus{
  border: solid 2px #50a750;
}