.container {
  width: 50%; 
  position: relative;
}
input {
  width: 80%;
  padding: 10px;
  top: 65px;
  right: 10px;
}

button {
  padding: 6px;
  position: absolute;   
  top: 65px;
  right: 10px;
  border: none;
  background: none;
}