
<style>
.topnav {
  overflow: hidden;
  background-color: #008442;
  position: relative;
}

.topnav #links {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #008442;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

.active {
  background-color: #008442;
  color: white;
}
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
 <!-- Top Navigation Menu -->
<div class="topnav">
  <a href="#home" class="active">Food Care</a>
  <div id="links">
    <a href="#uso">Como receber</a>
    <a href="#funcionamento">Como funciona </a>
    <a href="#contato">Contato</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</div>

<div class="content" role="main">

  <!-- Footer -->
  <footer>
      Food Care2019
  </footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


