
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a href="#home" class="active">Food Care</a>
    <div id="links">
      <a href="#uso">Como receber</a>
      <a href="#funcionamento">Como funciona </a>
      <a href="#contato">Contato</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="hideMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<div>
  <!-- Entered text -->
  <div>
    <h1>Ajude a acabar com a fome do Brasil</h1>
    <span>Conectamos empresas que têm sobra de alimentos com pessoas e ONGs que distribuem alimentos para pessoas
      carentes</span>
  </div>
  <div>
    <h1>O que fazemos?</h1>
    <span>Conectamos empresas que têm sobra de alimentos com aqueles que precisam de alimento. Os receptores podem ONGs
      ou pessoa física.</span>
    <span>icon</span>
  </div>
  <div>
    <h1>Doadores doam</h1>
    <span>Empresas com Sobra de alimentos criam evento informando que têm comida sobrando.</span>
    <span>icon</span>
  </div>
  <div>
    <h1>Eventos de doação</h1>
    <span>Os eventos de doação são mostrados através da lista ou do mapa</span>
    <span>icon</span>
  </div>
  <div>
    <h1>Receptores recebem</h1>
    <span>Àqueles que precisam do alimento se dirigem ao local do evento informado pelas empresas, e recebem o
      alimento.</span>
  </div>
  <div>
    <h1>Sobre nós</h1>
    <span>Mussum Ipsum, cacilds vidis litro abertis. Quem manda na minha terra sou euzis! Si u mundo tá muito paradis?
    </span>
  </div>
  <div>
    <h1>Entre em contato</h1>
    <span>Tire dúvidas, mande sugestões, fique à vontade para entrar em contato</span>
    <form action="" method="post">
      <label for="fname">Nome</label><br>
      <input type="text" id="fname" name="firstname" placeholder="Seu nome..">
      <br>

      <label for="lemail">Email</label><br>
      <input type="text" id="lemail" name="lastname" placeholder="Seu email.."><br>


      <label for="subject">Assunto</label><br>  
      <textarea id="subject" name="subject" placeholder="Assunto.." style="height:100px;width:300px;"></textarea><br>

      <input type="submit" value="Enviar">
    </form>
  </div>
  <!-- Footer -->
  <br>
  <footer>
    &#9400; 2019 - Food Care
  </footer>
</div>