<mat-toolbar class="toolbar-events" id="inicio">
  <h1 class="title-toolbar">Eventos do Doador</h1>
  <button mat-button class="perfil" routerLink="/perfil-doador" *ngIf="innerWidth > 525">
    <i class="material-icons">person_outline</i>
    {{ nome_doador }}
  </button>
  <button mat-icon-button class="perfil" routerLink="/perfil-doador" *ngIf="innerWidth <= 525">
    <i class="material-icons">person_outline</i>
  </button>
</mat-toolbar>



<!-- Criar evento-->
<div *ngIf="isShow">
  <div class="end-form">
    <div class="nome">
      <mat-form-field>
        <input matInput [(ngModel)]="selectedEvento.nome" placeholder="Nome" required>
      </mat-form-field>
    </div>
    <div class="categoria">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedEvento.id_categoria" placeholder="Categoria">
            <mat-option  *ngFor="let item of categorias" value='{{item.id}}'>{{item.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="date">
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Data e hora de início"
          [(ngModel)]="selectedEvento.data_inicio" required>
      </mat-form-field>
    </div>
    <div class="date">
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Data e hora de términio"
          [(ngModel)]="selectedEvento.data_final" required>
      </mat-form-field>
    </div>

    <div class="desc">
      <mat-form-field>
        <textarea [(ngModel)]="selectedEvento.desc" matInput placeholder="Descrição" required></textarea>
      </mat-form-field>
    </div>

    <div class="local">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedEvento.local" placeholder="Local" required>
        </mat-form-field>
    </div>


    <div class="button-concluir">
      <button mat-raised-button (click)="createEvento()">Concluir</button>
    </div>

  </div>
</div>

<!-- Card de eventos-->
<mat-card *ngFor="let item of eventos">
  <mat-card-content>
    <h2>{{ item.nome }}</h2>
    <div class="data-items">
      <p>{{ getFormatedDate(item.data_inicio) }} </p>
      <p>{{ getFormatedDate(item.data_final) }}</p>
    </div>
    <!-- Editar evento-->
    <div class="edit-info" style="display: none;" id={{item.id}}>
      <div class="end-form_edit">
        <div class="nome_edit">
          <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="selectedEvento.nome" required>
          </mat-form-field>
        </div>

        <div class="categoria">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedEvento.id_categoria" placeholder="Categoria">
                <mat-option *ngFor="let item of categorias" value='{{item.id}}'>{{item.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="date_edit">
          <mat-form-field>
            <input matInput type="datetime-local" placeholder="Data e hora de início"
              [(ngModel)]="selectedEvento.data_inicio" required>
          </mat-form-field>
        </div>
        <div class="date_edit">
          <mat-form-field>
            <input matInput type="datetime-local" placeholder="Data e hora de términio"
              [(ngModel)]="selectedEvento.data_final" required>
          </mat-form-field>
        </div>
        <div class="desc_edit">
          <mat-form-field>
            <textarea matInput placeholder="Descrição" [(ngModel)]="selectedEvento.desc" required></textarea>
          </mat-form-field>
        </div>


            <div class="local_edit">
              <mat-form-field>
                <input matInput placeholder="Local" [(ngModel)]="selectedEvento.local" required>
              </mat-form-field>
            </div>

        <div class="button-concluir">
          <button mat-raised-button (click)="mostraDiv(item.id); updateEvento()">Concluir</button>
        </div>
        <div class="button-excluir">
          <button mat-raised-button (click)="deleteEvento()">Excluir</button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <button mat-icon-button class="edit" (click)="mostraDiv(item.id); eventoClicked(item)">
    <i class="material-icons">edit</i>
  </button>
</mat-card>

<!-- Butoes ao final na pagina-->
<button mat-icon-button class="button-add-evento" (click)="toggleDisplay(); scrollToTop()">
  <a style="color: white">
    <i class="material-icons">add</i>
  </a>
</button>