.toolbar-eventos-doador {
    top: 0;
    position: sticky;
    display: flex;
    z-index: 1;
    padding: 0 8vw;
    background-color: #406040;
    justify-content: space-between;
    color: white;
}
.img-categoria {
    max-width: 200px;
    max-height: 200px;
}
.logo-img {
    width: 180px;
    padding-bottom: 4px;
}
.home{
    color: white;
    position: absolute;
    left: 10px;
}

.title-toolbar {
    color: white;
}

.mat-expansion-panel {
    margin: 15px;
}

.mat-expansion-panel-header {
    padding: 15px;
}

.button-add-evento {
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    background-color: #5b8f6f;
}

.button-meus-eventos {
    position: fixed;
    left: 75%;
    bottom: 15px;
    transform: translateX(-75%);
    background-color: #5b8f6f;
}

.button-eventos {
    position: fixed;
    left: 25%;
    bottom: 15px;
    transform: translateX(-25%);
    background-color: #5b8f6f;
}

.logout{
    position: absolute;
    right: 5px;
    font-size: 30px;
    color: white;
}

.div-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mat-card {
    width: 620px;
    margin: 15px;
    display: grid;
}

.img-categoria {
    border-radius: 10px;
}

.div-img {
    border-radius: 10px;
    padding: 20px;
}

.div-geral {
    display: flex;
    justify-content: space-around;
}

.div-editar {
    display: flex;
}

.mat-card-content {
    display: flex;
}

.lista {
    display: flex;
    flex: 1;
}

.data-items {
    margin-right: auto;
    margin-left: auto;
}

.edit {
    padding: 15px;
}

 mat-form-field{
    width: 300px;    
}
.end-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.date {
    display: flex;
    margin: auto;
}

.nome {
    margin: auto;
}

.desc {
    margin: auto;
}

.button-criacao {
    border: none;
    position: relative;
    padding: 0 20px;
    border-radius: 4px;
    transition: 100ms;
    display: inline-flex;
    font-size: smaller;
    display: flex;
    margin: 10px 24px;
}

.btn-cancel {
    background-color: rgba(248, 60, 60, 0.925);
    font-size: x-small;
    color: white;
    font-weight: lighter;
}

.btn-submit {
    color: white;
    font-size: x-small;
    font-weight: lighter;
    background-color: rgb(53, 192, 53);
}

.categoria {
    margin: auto;
}

.local {
    margin: auto;
}
