.end-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1;
}
.date{
    display: flex;
    margin: auto;
}
.local{
    margin: auto;
}
.desc{
    margin: auto;
}
.button-concluir{
    margin: auto;
}