<mat-toolbar class="toolbar">
    <img class="logo-img clickable" src="/logo-white.png" routerLink="">
</mat-toolbar>
<section>
    <div class="content">
        <div>
            <h2>Eventos</h2>
        </div>
        <div class="row">
            <mat-form-field class="search-field">
                <input matInput type="text" placeholder="Pesquise eventos" [(ngModel)]="eventosFilter.nome">
            </mat-form-field>
            <mat-form-field class="filter-field">
                <mat-label>Filtrar por</mat-label>
                <mat-select [(ngModel)]="eventosFilter.id_categoria">
                    <mat-option value=''>Todas</mat-option>
                    <mat-option *ngFor="let item of categorias" value='{{item.id}}'>{{item.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="order-field">
                <mat-label>Ordenar por</mat-label>
                <mat-select [(value)]="eventosOrder">
                    <mat-option value="distancia">Proximidade</mat-option>
                    <mat-option value="data_final">Tempo restante</mat-option>
                    <mat-option value="nome">Título do evento</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="event-list-card" *ngFor="let evento of eventos | filterBy: eventosFilter | orderBy: eventosOrder">
                <mat-card class="event-card">
                    <mat-card-content class="flex">
                        <img class="img-event-card" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        <div class="event-info">
                            <h3 class="event-title">{{evento.nome}}</h3>
                            <span>{{evento.id_categoria}}</span>
                            <span>{{evento.id_doador}}</span>
                            <span>{{evento.latitude}} • Termina em {{getDiferencaData(evento.data_final)}}h</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>