.toolbar-eventos {
    top: 0;
    position: sticky;
    display: flex;
    /* justify-content: space-between; */
    z-index: 1;
    padding: 0 8vw;
    background-color: #406040;
}
.logo-img {
    width: 180px;
    padding-bottom: 4px;
}
.home {
    color: white;
}

.title-toolbar {
    color: white;
}
.div-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mat-card {
    width: 400px;
    margin: 15px;
    /* display: flex; */
}
.div-geral {
    display: flex;
    flex-direction: column;
}
.img-categoria {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.div-img-info {
    display: flex;
    justify-content: space-around;
}
.mat-card-content {
    display: flex;
}

.data-items {
    margin-right: auto;
    margin-left: auto;
}

.button-meus-eventos {
    position: fixed;
    left: 60%;
    bottom: 15px;
    transform: translateX(-60%);
    background-color: #5b8f6f;
}

.button-eventos {
    position: fixed;
    left: 30%;
    bottom: 15px;
    transform: translateX(-30%);
    background-color: #5b8f6f;
}
.form {
    width: 100%;
    text-align: center;
}
.filter-wrapper {
    display: flex;
    justify-content: space-between;
}
mat-form-field {
    width: 40%;
}
.titles {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
}
