.toolbar-events {
    background-color: #5b8f6f;
    display: flex;
    justify-content: center;
}
.title-toolbar{
    color: white;
}
.mat-card{
    margin: 15px;
    /* min-width: 200px; */
}
.mat-card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-end{
    font-size: 8px;
    width: 100px;
    height: 40px;
    
}
.event-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}