.background {
    background-image: url(src/assets/images/fundo-home-frutas.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.toolbar-cadastro {
    top: 0;
    position: sticky;
    display: flex;
    /* justify-content: space-between; */
    z-index: 1;
    padding: 0 8vw;
    background-color: #406040;
}
.logo-img {
    width: 180px;
    padding-bottom: 4px;
}
.home{
    color: white;
    cursor: pointer;
}
.box {
    width: 400px;
    border-radius: 10px;
    padding: 8px;
    background: #fff;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-family: 'Montserrat';
}

.mat-form-field {
    margin: 5px;
}

.buttonCadastro {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #456c45;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.textoLogin {
  margin: 5px auto;
  /* padding-top: 10px; */
}

.form {
    display: flex;
    flex-flow: column;
}
