<!-- head -->
<!-- <mat-toolbar class="toolbar-alimento">
  <button mat-icon-button class="button-back"><a href="/eventos"><i
        class="material-icons">keyboard_arrow_left</i></a></button>
  <h1 class="title-toolbar">Adicione Eventos</h1>
</mat-toolbar> -->
<mat-sidenav-container class="sidenav-container">
  <mat-toolbar>
    <button mat-icon-button class="button-back"><a href="/eventos"><i
          class="material-icons">keyboard_arrow_left</i></a></button>
    Adicionar evento
  </mat-toolbar>
</mat-sidenav-container>
<!-- Etapas de adicionar alimeto-->
<div class="end-form">
  <div class="date">
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Data e hora de início" #itemData_inicial>
    </mat-form-field>
  </div>
  <div class="date">
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Data e hora de términio" #itemData_final>
    </mat-form-field>

  </div>
  <div class="local">
    <mat-form-field>
      <input matInput #itemLocal placeholder="Local">
    </mat-form-field>

  </div>
  <div class="desc">
    <mat-form-field>
      <textarea matInput placeholder="Descrição">Adicione descrição</textarea>
    </mat-form-field>

  </div>
  <div class="button-concluir">
    <button mat-raised-button
      (click)="adEvento(itemData_inicial.value, itemData_final.value, itemLocal.value)"><a>Concluir</a></button>
    {{ error?.message }}
  </div>
</div>