.event-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.form{
    margin: 15px;
}
.mat-radio-button{
    margin: 10px;
}
.mat-radio-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.next-button{
    font-size: 8px;
    margin: 10px;
    max-width: 130px;
}
.button-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #5b8f6f; 
}
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #5b8f6f; 
}
